# Data types :-

# lists :

A list is a mutable hetrogeneous sequence of elements .

In [1]:
# create a list 
a = [2,4,6]

In [2]:
# accessing elements of list

In [3]:
a[1]

4

In [4]:
a[3]

IndexError: list index out of range

In [5]:
a[-1] # from behind

6

In [6]:
# hetrogeneous
b =[40,"rahul",56.98]

In [7]:
b[0]

40

In [8]:
b[-1]

56.98

In [9]:
b[-2]

'rahul'

In [10]:
# checking mutable behavior of lists

In [13]:
vasu = [23, 45, 76]
baby = vasu

In [14]:
vasu

[23, 45, 76]

In [15]:
baby

[23, 45, 76]

In [16]:
baby[0] = 100

In [17]:
baby

[100, 45, 76]

In [18]:
vasu

[100, 45, 76]

# tuple :

A tuple is similar to lists and are immutable i.e values cann't be changed .

In [19]:
a = (12, 34, 45)

In [20]:
a

(12, 34, 45)

In [21]:
 a[0] = 145

TypeError: 'tuple' object does not support item assignment

In [22]:
a = (56, 99)

In [23]:
a

(56, 99)

Here we have removed reference and pointed it to other value

In [24]:
b = ( [1,2], [3,4] )

In [25]:
b

([1, 2], [3, 4])

In [26]:
b[1][0] = 90

In [27]:
b

([1, 2], [90, 4])

In [28]:
b[0] = [6,7]

TypeError: 'tuple' object does not support item assignment

**We cannot change individual items of tuple, but if the inside item is of muttable behavior then we can do so.**

# sets :

A set is a unique collection of elements . These are same as in maths. Sets are unordered pair.

In [29]:
a = {34,34,34,5}

In [30]:
a

{5, 34}

# dictionaries :

key -> value pair

key's should be unique

Muttable in nature

word -> defination of word

In [33]:
# create a dictionary
dict1 = {
    "mango" : "king of fruits",
    "apple" : "sweet red fruit"
}

In [34]:
# accessing values in dictionaries

In [36]:
dict1['apple']

'sweet red fruit'

In [40]:
# muttable nature

In [41]:
dict1['apple'] = "my fav"

In [42]:
dict1

{'mango': 'king of fruits', 'apple': 'my fav'}

# Enjoyed this lecture ?

**Star it on [github](https://github.com/parthshingari28/learn-python)!**

# Reach out at !

**[@parthshingari28](https://github.com/parthshingari28)**